<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
</head>
<body>
	<section layout:fragment="corpo" style="margin-top: 10%;">
		<div style="width: 40rem;">
			<form class="row g-3" id="cadastroUsuario" style="margin-bottom: 100px;" th:action="@{/usuario/cadastrar}" th:object="${usuario}" method="post" novalidate>
				
				<span th:replace="fragments/alert :: alerta-sucesso"></span>
				
				<br>
				
				<h2>Cadastro de Usuário</h2>
				<p>Insira abaixo as informações pessoais e os dados de login do novo usuário!</p>
				
				<br>
				
				<span th:replace="usuario/inf-usuario :: dados-usuario"></span>
				
				<button type="submit" class="btn btn-primary">
					Cadastrar
				</button>
			</form>
		</div>
	</section>
	
</body>
</html>