<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
</head>
<body>

	<section layout:fragment="corpo" style="margin-top: 10%;">
	
		<span th:replace="fragments/modal :: editar-usuario"></span>
		<span th:replace="fragments/alert :: alerta-sucesso"></span>
		<span th:replace="fragments/alert :: alerta-excluir-usuario"></span>
		
		<div style="width: 70rem; margin-bottom: 100px;">
			<h2>Lista dos usuários do sistema</h2>
			
			<br>
			
			<form th:action="@{/usuario/listar}" method="get" class="row g-3">
				<div class="col-auto input-group" style="width: 500px; margin-bottom: 30px;">
				  	<div class="input-group-text">Nome/Sobrenome/E-mail</div>
					<input type="text" name="filtro" class="form-control" autofocus>
				</div>
				<div class="col-auto">
				  <button type="submit" class="btn btn-primary">Filtrar</button>
				</div>
			</form>
			
			<table class="table table-striped table-hover">
				<thead>
				   <tr>
				     <th scope="col">#</th>
				     <th scope="col">Nome</th>
				     <th scope="col">Sobrenome</th>
				     <th scope="col">E-mail</th>
				     <th scope="col">Ativo</th>
				     <th scope="col">Perfil</th>
				     <th></th>
				     <th></th>
				   </tr>
				 </thead>
				 <tbody>
				   <tr th:each="u : ${paginaUsuarios.registros}">
				     <th th:text="${u.id}" scope="row">1</th>
				     <td th:text="${u.nome}">Nome</td>
				     <td th:text="${u.sobrenome}">Sobrenome</td>
				     <td th:text="${u.email}">E-mail</td>
				     <td th:text="${u.ativo == true ? 'Ativo' : 'Inativo'}">Ativo</td>
				     <td th:text="${u.perfil.nome}">Perfil</td>
				     <td><a th:href="@{/usuario/pre-editar/{id} (id=${u.id})}"><i style="color: green;" title="Editar" class="oi oi-pencil"></i></a></td>
				     <td><a th:href="@{/usuario/pre-excluir/{id} (id=${u.id})}"><i style="color: red;" title="Excluir" class="oi oi-x"></i></a></td>
				   </tr>
				 </tbody>
			</table>
			<nav aria-label="Navegação de página">
			  <ul class="pagination justify-content-center">
			  	<li th:class="${paginaUsuarios.numPagina} == 1 ? 'page-item disabled' : 'page-item'">
			      <a th:href="@{/usuario/listar(pagina=1, filtro=${paginaUsuarios.filtro})}" class="page-link" tabindex="-1"><i class="oi oi-media-skip-backward"></i></a>
			    </li>
			    <li th:class="${paginaUsuarios.numPagina} == 1 ? 'page-item disabled' : 'page-item'">
			      <a th:href="@{/usuario/listar(pagina=${paginaUsuarios.numPagina - 1}, filtro=${paginaUsuarios.filtro})}" class="page-link" tabindex="-1"><i class="oi oi-media-step-backward"></i></a>
			    </li>
			    <li th:class="page-item">
			    	<a th:text="${paginaUsuarios.numPagina}" class="page-link"></a>
			    </li>
			    <li th:class="${paginaUsuarios.numPagina == paginaUsuarios.totalPaginas || paginaUsuarios.totalPaginas == 0} ? 'page-item disabled' : 'page-item'">
			      <a class="page-link" th:href="@{/usuario/listar(pagina=${paginaUsuarios.numPagina + 1}, filtro=${paginaUsuarios.filtro})}"><i class="oi oi-media-step-forward"></i></a>
			    </li>
			    <li th:class="${paginaUsuarios.numPagina == paginaUsuarios.totalPaginas || paginaUsuarios.totalPaginas == 0} ? 'page-item disabled' : 'page-item'">
			      <a class="page-link" th:href="@{/usuario/listar(pagina=${paginaUsuarios.totalPaginas}, filtro=${paginaUsuarios.filtro})}"><i class="oi oi-media-skip-forward"></i></a>
			    </li>
			  </ul>
			  <div class="pagination justify-content-center">
			 	<span class="text-muted" th:text="${'Páginas ' + (paginaUsuarios.totalPaginas == 0 ? '0' : paginaUsuarios.numPagina) + ' de ' + paginaUsuarios.totalPaginas}"></span>
			  </div>
			</nav>
		</div>
	</section>
	
</body>
</html>