<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<body>

	<div class="alerta" th:fragment="alerta-sucesso">
		<div th:if="${sucesso != null}" class="modal fade" id="modal-js-sucesso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Sucesso</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <p th:text="${sucesso}"></p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
	<div class="alerta" th:fragment="alerta-excluir-usuario">
		<div th:if="${id != null}" class="modal fade" id="modal-js-excluir-usuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Alerta</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <p>Têm certeza que deseja excluir este usuário?</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		        <a th:href="@{/usuario/excluir/{id} (id=${id})}" type="button" class="btn btn-primary">Excluir</a>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
</body>