<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>

	<div th:fragment="nav-sidebar">
		<div style="width: 200px;" class="offcanvas offcanvas-end bg-light" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
		  <div class="offcanvas-header">
		    <i style="margin-left: 40%; font-size: 50px;" class="oi oi-book"></i>
		  </div>
		  <hr>
		  <div class="offcanvas-body">
		      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
		      	<ul class="nav nav-pills flex-column mb-auto text-start">
			      <li class="nav-item sidebar-link">
			        <a href="#" class="nav-link link-dark sidebar-link" aria-current="page">
			          <i class="oi oi-home"></i> Home
			        </a>
			      </li>
			      <li>
			        <a href="#" class="nav-link link-dark collapsed sidebar-link" data-bs-toggle="collapse" data-bs-target="#editorial-collapse" aria-expanded="true">
			          <i class="oi oi-book"></i> Editorial <i style="font-size: 10px;" class="oi oi-caret-right"></i>
			        </a>
			        <div class="collapse" id="editorial-collapse">
			          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 text-center">
			            <li><a href="#" class="link-dark rounded" style="text-decoration: none;">Cadastro de Livros</a></li>
			          </ul>
			        </div>
			      </li>
			      <li>
			        <a style="width: 150px" href="#" class="nav-link link-dark collapsed sidebar-link" data-bs-toggle="collapse" data-bs-target="#comercial-collapse" aria-expanded="true">
			          <i class="oi oi-box"></i> Comercial <i style="font-size: 10px;" class="oi oi-caret-right"></i>
			        </a>
			        <div class="collapse" id="comercial-collapse">
			          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 text-center">
			            <li><a href="#" class="link-dark rounded" style="text-decoration: none">Estoque</a></li>
			          </ul>
			        </div>
			      </li>
			    </ul>
		      </div>
		  </div>
		</div>
	</div>

</body>
</html>